.container_categorie {
    width: 100%;
    overflow: hidden;
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
    font-family: 'Kumbh Sans', sans-serif;
    gap: 20px;
    padding: 50px 75px;
}

.container_categorie .name_categorie {
    width: 100%;
}

.container_categorie .name_categorie h2 {
    color: #0e2870;
    font-weight: 900;
    line-height: 40px;
}

.container_categorie .entete_mes_categorie {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;
}

.container_categorie .entete_mes_categorie .element {
    width: 200px;
    height: 100%;
}

.container_categorie .entete_mes_categorie .element:not(:hover) .cacher {
    display: none;
}

.container_categorie .entete_mes_categorie .element .trie,
.container_categorie .entete_mes_categorie .element .statut {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container_categorie .entete_mes_categorie .element .trie .input_trie,
.container_categorie .entete_mes_categorie .element .statut .input_statut {
    display: flex;
    border: 1px solid rgb(220, 220, 220);
    width: 90%;
    height: 70%;
    padding: 0 0 0 9px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.container_categorie .entete_mes_categorie .element .trie .input_trie span.icon_select_trie,
.container_categorie .entete_mes_categorie .element .statut .input_statut span.icon_select_statut {
    height: 100%;
    border-left: 1px solid rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00a5ff;
    width: 19px;
}

.container_categorie .entete_mes_categorie .element .statut .input_statut p {
    padding-bottom: 2.5px;
}

.container_categorie .entete_mes_categorie .element .trie .input_trie p {
    padding-bottom: 2.5px;
}

.container_categorie .entete_mes_categorie .element .trie .input_trie span.trie_par,
.container_categorie .entete_mes_categorie .element .statut .input_statut span.statut_par {
    font-size: 13px;
    font-weight: 600;
    color: #919ba8;
}

.container_categorie .entete_mes_categorie .element .trie .input_trie span.name_trie,
.container_categorie .entete_mes_categorie .element .statut .input_statut span.name_statut {
    font-weight: bold;
    color: #43465e;
    font-size: 14px;
}

.container_categorie .entete_mes_categorie .element .trie:not(:hover) .display_trie,
.container_categorie .entete_mes_categorie .element .statut:not(:hover) .display_statut {
    display: none;
}

.container_categorie .entete_mes_categorie .element .trie .display_trie,
.container_categorie .entete_mes_categorie .element .statut .display_statut {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 90%;
    top: 43px;
    box-shadow: rgba(163, 163, 163, 0.39) 0px 3px 11px 0px;
    padding: 10px 0 10px 0;
}

.container_categorie .entete_mes_categorie .element .trie .display_trie ul,
.container_categorie .entete_mes_categorie .element .statut .display_statut ul {
    margin: 0 5px 0 5px;
}

.container_categorie .entete_mes_categorie .element .trie .display_trie ul li,
.container_categorie .entete_mes_categorie .element .statut .display_statut ul li {
    list-style: none;
    margin-top: 5px;
    padding-left: 10px;
    height: 25px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 3px;
}

.container_categorie .entete_mes_categorie .element .trie .display_trie ul li::before,
.container_categorie .entete_mes_categorie .element .statut .display_statut ul li::before {
    content: "•";
    padding-right: 10px;
    color: rgb(100, 101, 206);
}

.container_categorie .entete_mes_categorie .element .trie .display_trie ul li:hover,
.container_categorie .entete_mes_categorie .element .statut .display_statut ul li:hover {
    background-color: #eaf0ff;
}

.container_categorie .entete_mes_categorie .element .trie .display_trie ul li a,
.container_categorie .entete_mes_categorie .element .statut .display_statut ul li a {
    text-decoration: none;
    display: flex;
    align-items: centere;
    font-size: 14px;
    color: #404586;
    width: 100%;
    height: 100%;
}

.container_categorie .entete_mes_categorie .element .trie .display_trie ul li:hover a,
.container_categorie .entete_mes_categorie .element .statut .display_statut ul li:hover a {
    text-decoration: none;
    color: #202cd1;
}

.container_categorie .entete_mes_categorie .interval_prix {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 28%;
}

.container_categorie .entete_mes_categorie .interval_prix .min,
.container_categorie .entete_mes_categorie .interval_prix .max {
    height: 100%;
}

.container_categorie .entete_mes_categorie .interval_prix input {
    height: 100%;
    text-align: center;
    outline: none;
    width: 100px;
    margin-left: 5px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.container_categorie .Les_produit_categorie {
    width: 100%;
    display: flex;
    gap: 15.55px;
    flex-wrap: wrap;
}