#connexion {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 74vh;
}

.formCnx {
    margin-left: 161px;
    margin-top: 112px;
}

.titleIden {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #015E9B;
    margin-bottom: 24px;
    font-weight: 800;
}

.btnGn {
    width: 130px;
    padding: 13px;
    background: #015E9B;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 9px;
}

.btn-Cnx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inpCnx {
    width: 345px;
    padding: 12px;
    margin-bottom: 21px;
    border: 1px solid rgb(215 214 214);
    /* width: 382px; */
    border-radius: 8px;
    padding: 17px;
    border: 1px solid rgb(215 214 214);
    /* margin-bottom: 15px; */
    /* margin-right: 10px; */
}

.input-Email {
    margin-top: 10px;
}

.CreerCmpt {
    width: 391px;
    margin-top: 82px;
    margin-right: 66px;
}

.MtdpsOubl {
    margin-left: 109px;
    margin-top: 8px;
}

.TextOubl {
    text-decoration: none;
    color: black;
}

.descCmpt {
    font-size: 16px;
    font-weight: 485;
    margin-top: 37px;
    text-align: justify;
    line-height: 1.5;
    display: flex;
    justify-content: center
}

.TitleCmpt {
    font-size: 30px;
    color: #015E9B;
    margin-bottom: 24px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 28px;
}

.BtnCmpt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
}

.Cnx {
    width: 153px;
    padding: 13px;
    background: #015E9B;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 9px px;
}

.ErMsg1,
.ErMsg2 {
    margin-top: -20px;
    margin-bottom: 23px;
    display: none;
    margin-left: 0px;
    color: red;
}

.ErMsg2 {
    margin-bottom: 15px;
}