/** ====================================== footer=========================================== */

html {
    scroll-behavior: smooth;
}

footer {
    grid-area: footer;
    margin-top: 50px;
    background-color: #232323;
}
.container_footer{
    width: 100%;
    height: 180px;
    background-color:  #0b0f47;
    display: flex;
    align-items: center;
}
.div1{
    width: 25%;
    height: 70%;
    border-right: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 img{
    width: 200px;
}
.div2{
    width: 35%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.div2 .lien_footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.div2 .lien_footer a{
    text-decoration:none;
    font-size: 13px;
    color: #abdbff;

}
.div2 .copyrigth{
    font-size: 12px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.div3{
    width: 15%;
    height: 80%;
}
.div4{
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.div4 a{
    font-size: 23px;
    color: #abdbff;
   
}
.arrow_bas {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 12px; */
    width: 45px;
    height: 45px;
    border: 1px solid #abdbff;
    border-radius: 50%;
}
a{
    cursor: pointer;
}
i{
    cursor: pointer;
}

/* footer .footer_entete {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

footer .footer_entete .dkchi {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

footer .footer_entete .dkchi h3 {
    color: #ffffff;
    margin-bottom: 35px;
}

footer .footer_entete .contacter_nous {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

footer .footer_entete .contacter_nous h3 {
    color: #ffffff;
}

footer .footer_entete .contacter_nous .contacter {
    border: 2px solid #ffffff;
    width: 100%;
    height: auto;
    padding: 20px;
}

footer .footer_entete .contacter_nous .contacter form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .footer_entete .contacter_nous .contacter input.inpp {
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #151d32;
    color: #ffffff;
    padding-left: 10px;
}

footer .footer_entete .contacter_nous .contacter input.inpp::placeholder {
    color: #ffffff;
    font-size: 14px;
}

footer .footer_entete .contacter_nous .contacter textarea {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #151d32;
    color: #ffffff;
    height: 70px;
}

footer .footer_entete .contacter_nous .contacter textarea::placeholder {
    color: #ffffff;
    font-size: 14px;
}

footer .footer_entete .contacter_nous .contacter input.envoyer {
    width: 70px;
    height: 30px;
    background-color: inherit;
    color: #ffffff;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
}

.guide_achat a {
    margin-top: 27px;
    text-decoration: none;
    color: white;
} */


/* 


footer .footer_entete .livraison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}

footer .footer_entete span.title {
    font-weight: bolder;
    font-size: 17px;
} */
/* 
footer .bas_footer {
    width: 100%;
    height: 90px;
    background-color: #051133;
    border-top: 1px solid #374957;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

footer .bas_footer img {
    width: 200px;
    color: #215e8c;
}

footer .bas_footer .copyright {
    margin-left: 20px;
    color: #bac8d3;
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
}

footer .bas_footer .reseux_sociaux {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    width: 40%;
}

footer .bas_footer .reseux_sociaux a i {
    font-size: 24px;
    color: #a2aed2;
    margin-right: 30px;
}

footer .bas_footer .arrow_bas {
    width: 10%;
    display: flex;
    justify-content: center;
}

footer .bas_footer .arrow_bas a {
    text-decoration: none;
}

footer .bas_footer .arrow_bas a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: #a2aed2;
    width: 45px;
    height: 45px;
    border-radius: 50px;
} */