@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;300;400;500;600;800;900&family=Open+Sans:wght@300;800&family=Poppins:wght@100;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    /*font-family: 'Lato',sans-serif;*/
    max-width: 100%;
    font-size: 14px;
    color: #171f35;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px auto auto;
    grid-template-areas: "header" "main" "footer";
    background-color: rgb(245, 246, 247);
}

body .cacher {
    display: none;
}


/* *********************************************************  display contacter nous  *************************************************************** */

.display_body_contacter_nous {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #000000c9;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.icon_x_exit_contacter_nous {
    font-size: 28px;
    position: absolute;
    color: red;
    top: 0;
    right: 0;
}

.contacter_nous {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    background-color: white;
    padding: 50px;
}

.contacter_nous h3 {
    color: #015e9b;
    font-size: 20px;
    border-bottom: 6px solid;
    /* display: inline; */
    width: 142px;
}

.contacter_nous .contacter {
    width: 100%;
    height: auto;
    /* padding: 30px; */
}

.contacter_nous .contacter form {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 21px;
}

.contacter_nous .contacter input.inpp {
    width: 48%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #4084bf11;
    color: #015e9b;
    padding-left: 10px;
}

.contacter_nous .contacter input.inpp:hover {
    background-color: #4084bf24;
}

.contacter_nous .contacter input.inpp::placeholder {
    color: #151d32;
    font-size: 14px;
}

.contacter_nous .contacter textarea {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #4084bf11;
    color: #151d32;
    height: 213px;
    width: 100%;
}

.contacter_nous .contacter textarea :hover {
    background-color: #4084bf24;
}

.contacter_nous .contacter textarea::placeholder {
    color: #151d32;
    font-size: 14px;
}

.contacter_nous .contacter input.envoyer {
    width: 70px;
    height: 30px;
    background-color: #015e9b;
    color: #ffffff;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    /* display: flex; */
    /* align-self: flex-end; */
}


/* *********************************************************  header  *************************************************************** */

header {
    position: relative;
    grid-area: header;
    height: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 30px;
    background-color: #fff;
    padding-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}


/* ***************************  logo  *********************************** */

.logo {
    grid-template-columns: 1/2;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo .logo3 {
    width: 180px;
}

.logo .btn_rendez_vous {
    width: 129px;
    /* height: 73px; */
    border: solid 1px;
    background-color: #ffffff;
    color: #015e9b;
    height: 35px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}


/* ***************************  input de recherche  *********************************** */

.recherche {
    grid-template-columns: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_input {
    background-color: white;
    border-radius: 0;
    border: 2px solid #dadbdc;
    color: #5781ab;
    font-family: inherit;
    font-size: inherit;
    padding: 0 6px 0 0;
    width: 91%;
    border-radius: 10px;
}

.recherche_form {
    display: flex;
    flex-wrap: nowrap;
}

#cherche_input {
    background-color: white;
    border: none;
    outline: none;
    padding: 0 5px;
    color: #5781ab;
    font-family: inherit;
    font-size: inherit;
    height: 34px;
    width: 94.2%;
    margin-left: 6px;
}


/* ***************************  icon de recherche  *********************************** */

.btn_recherche {
    border: none;
    background: rgb(255, 255, 255);
    outline: none;
}

.fa-magnifying-glass {
    font-size: 18px;
    color: #949494;
}


/* ***************************  div navigation  *********************************** */

.navigation {
    position: relative;
    grid-template-columns: 3/4;
    display: flex;
    align-items: center;
}

.info_travaille {
    width: 50%;
    padding-left: 10px;
    padding-bottom: 3px;
}

.navigation nav ul {
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: space-evenly;
    list-style: none;
}

p.tele {
    font-size: 17px;
    font-weight: 900;
    color: #015e9b;
}

nav.panier_identifier {
    width: 50%;
    height: 100%;
    display: flex;
}

nav.panier_identifier ul {
    height: 100%;
}

nav.panier_identifier ul li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panier_identifier ul li {
    display: flex;
    align-items: center;
}


/* ***************************  identifier hover  *********************************** */

.login_hover {
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 110px;
    width: 74%;
    height: 280px;
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 30px 10px 0 10px;
    border: 2px solid rgb(193, 193, 193);
}

.form_hover_identifier {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login_hover h2 {
    padding-left: 10px;
    transition: 0.5s;
    font-weight: 900;
    color: #015e9b;
    border-left: 15px solid #ff7e00;
}

.input_hover_identifier {
    position: relative;
}

.input_hover_identifier input {
    width: 100%;
    padding: 10px 15px;
}

.input_hover_identifier input#btn {
    border: none;
    background: #ff7e00;
    color: #fff;
    cursor: pointer;
}

.input_hover_identifier input:focus {
    outline: none;
}

.login_hover_grp {
    display: flex;
    justify-content: space-between;
}

.login_hover_grp a {
    text-decoration: none;
    color: #333;
}

.login_hover_grp a:nth-of-type(2) {
    font-weight: 700;
    text-decoration: underline;
}

.hover {
    display: none;
}


/* *******************************  menu  ********************************** */

.menu {
    grid-column: 1 / 4;
    width: 100%;
    background-color: #ffffff;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
}

.menu ul li a {
    position: relative;
    text-decoration: none;
    color: #015e9b;
    display: flex;
    align-items: center;
    height: 30px;
}

.menu ul li a::before {
    content: '';
    position: absolute;
    width: 101%;
    bottom: -1px;
    height: 3px;
    background-color: #ff7e00;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.menu ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

nav.nav_identifier {
    padding: 9px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    color: white;
    background-color: #ff9200;
    /* padding-left: 370px; */
}


/*.menu ul li a:hover {
    color: #ffffff;
}
*/