main {
    width: 100%;
    overflow: hidden;
    grid-area: main;
}

section.publicite {
    padding: 0 24px;
    display: flex;
    height: 370px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.publicite_content {
    width: 70%;
    height: 89%;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.publicite_content .slider {
    width: 500%;
    height: 100%;
    display: flex;
}

.publicite_content .slider i.bx-chevron-left {
    position: absolute;
    font-size: 25px;
    padding: 10px;
    top: 45%;
    left: 1%;
    background: rgb(220, 220, 220);
    border-radius: 50%;
    cursor: pointer;
}

.publicite_content .slider i.bx-chevron-right {
    position: absolute;
    font-size: 25px;
    top: 45%;
    right: 1%;
    background: rgb(220, 220, 220);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.publicite_content .slider i.bx-chevron-right:hover {
    box-shadow: 0 0 2px #12bbff;
}

.publicite_content .slider i.bx-chevron-left:hover {
    box-shadow: 0 0 2px #12bbff;
}

.publicite_content .slider input {
    display: none;
}

.publicite_content .slider .img {
    width: 20%;
    transition: 0.5s ease-in-out;
}

.publicite_content .slider .img img {
    width: 100%;
    height: 350px;
}

.publicite_content .btn_radio {
    width: 100%;
    position: absolute;
    bottom: 6px;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.publicite_content .btn_radio .btn {
    border: 3px solid #00f2ff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.publicite_content .btn_radio .btn:hover {
    background-color: #00f2ff;
}

.publicite_content .btn_radio .btn:not(:last-of-type) {
    margin-right: 30px;
}

#r1:checked~.first {
    margin-left: 0;
}

#r2:checked~.first {
    margin-left: -20%;
}

#r3:checked~.first {
    margin-left: -40%;
}

#r4:checked~.first {
    margin-left: -60%;
}

.publicite_content .slider .btn_radio_back {
    width: 100%;
    position: absolute;
    bottom: 6px;
    display: flex;
    justify-content: center;
}

.publicite_content .slider .btn_radio_back div {
    border: 3px solid #00f2ff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.publicite_content .slider .btn_radio_back div:not(:last-of-type) {
    margin-right: 30px;
}

#r1:checked~.btn_radio_back .btn1 {
    background-color: #00f2ff;
}

#r2:checked~.btn_radio_back .btn2 {
    background-color: #00f2ff;
}

#r3:checked~.btn_radio_back .btn3 {
    background-color: #00f2ff;
}

#r4:checked~.btn_radio_back .btn4 {
    background-color: #00f2ff;
}

section.categorie {
    width: 100%;
    padding: 10px 24px 10px 24px;
    overflow: hidden;
}

section.categorie .entete_categorie {
    width: 100%;
    display: flex;
}

section.categorie .titre_categorie {
    width: 93.4%;
}

section.categorie .titre_categorie h2 {
    font-weight: 900;
    line-height: 40px;
}

section.categorie .titre_categorie p {
    display: flex;
}

section.categorie .flech_categorie {
    justify-self: end;
    width: 6.6%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

section.categorie .flech_categorie button {
    background-color: inherit;
    width: 40%;
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
}

section.categorie .flech_categorie button i {
    font-size: 34px;
    font-weight: 500;
}

section.categorie .flech_categorie button i:hover {
    box-shadow: 0 0 2px #12bbff;
}

section.categorie .tout_produit_categorie {
    margin-top: 30px;
    display: flex;
    gap: 29px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

section.categorie .tout_produit_categorie::-webkit-scrollbar {
    display: none;
}

section.categorie .tout_produit_categorie .produit {
    text-decoration: none;
    min-width: 220px;
    max-width: 220px;
    box-shadow: 0 0 6px 0 rgba(101, 101, 101, 0.08);
    transition: box-shadow .3s ease;
    height: 286px;
    background-color: #ffffff;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

section.categorie .tout_produit_categorie .produit:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08);
}

section.categorie .tout_produit_categorie .produit:hover {
    box-shadow: 0 0 2px #12bbff;
}

section.categorie .tout_produit_categorie .produit .photo_produit {
    background-color: #ffffff;
    height: 65%;
    width: 100%;
    overflow: hidden;
}

section.categorie .tout_produit_categorie .produit .photo_produit img {
    width: auto;
    height: 100%;
}

section.categorie .tout_produit_categorie .produit .nom_prix_produit {
    width: 100%;
    background-color: #ffffff;
    height: 30%;
    display: flex;
    flex-direction: column;
    ;
}

section.categorie .tout_produit_categorie .produit .nom_prix_produit .nom_prod {
    color: #0c193a;
    width: 100%;
    max-height: 60%;
    max-width: 100%;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 700;
    background: #ffffff;
}

section.categorie .tout_produit_categorie .produit .prix_prod {
    height: 40%;
    color: #ff8c00;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 1.8em;
}

section.information_pourquoi {
    width: 100%;
    overflow: hidden;
    height: auto;
    padding: 20px 24px 0 24px;
}

.information_pourquoi .text_pourquoi {
    width: 54%;
    float: left;
}

.information_pourquoi .text_pourquoi h1 {
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.information_pourquoi .text_pourquoi p.p1 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.7;
}

.information_pourquoi .text_pourquoi p.p2 {
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

.information_pourquoi .text_pourquoi ul {
    margin: 15px 0 15px 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.information_pourquoi .text_pourquoi ul .def {
    font-size: 15px;
    text-decoration: underline;
}

.information_pourquoi .photo_pourquoi {
    padding-top: 10px;
    width: 40%;
    float: right;
}

.information_pourquoi .photo_pourquoi img {
    width: 100%;
}


/** ====================================== footer=========================================== */

footer {
    grid-area: footer;
    margin-top: 50px;
    background-color: #1d262d;
}

footer .footer_entete {
    display: flex;
    width: 100%;
    height: 150px;
}

footer .footer_entete .livraison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}

footer .footer_entete span.title {
    font-weight: bolder;
    font-size: 17px;
}

footer .bas_footer {
    width: 100%;
    height: 90px;
    background-color: #1d262d;
    border-top: 1px solid #374957;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

footer .bas_footer img {
    width: 200px;
    color: #215e8c;
}

footer .bas_footer .copyright {
    margin-left: 20px;
    color: #bac8d3;
    font-size: 14px;
}

footer .bas_footer .reseux_sociaux {
    height: 100%;
    display: flex;
    align-items: center;
}

footer .bas_footer .reseux_sociaux:first-child {
    width: 10px;
    background-color: blue;
}