#MtdpsOubl {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 114px; */
    height: 74vh;
}

.TitleMtdpsOub {
    font-size: 25px;
    color: #015E9B;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 29px;
}

.inputEmail {
    width: 424px;
    padding: 12px;
    padding: 17px;
    border-radius: 8px;
    border: 1px solid rgb(215 214 214);
}

.InputMtdpsOUb {
    margin-top: 39px;
    margin-bottom: 10px;
    margin-left: 103px
}

.MtdpsOublié {
    margin-top: 10px;
}

.Prg {
    font-weight: 400;
}

.BtnRnst {
    margin-left: 105px;
    margin-top: 30px;
}

.btnMtdps,
.btnRetour1,
.btnRetour2 {
    padding: 12px;
}

.btnMtdps {
    background: #015E9B;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

.btnRetour1 {
    background: #ff6702;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    margin-left: 104px;
    width: 105px;
}

.btnRetour2 {
    background: #ff6702;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    margin-left: 158px;
    width: 105px;
}

.ErMdpsOubEmail {
    color: red;
    margin-top: 9px;
    display: none;
}