#Profil {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.ProfTitle {
    font-size: 24px;
    font-weight: 900;
    color: #044570;
    margin-bottom: 35px;
    margin-left: 55px;
}

.Identité,
.Identifiant2,
.Adresses2 {
    border: 1px solid rgb(192, 191, 191);
    border-radius: 10px;
    width: 503px;
    height: 140px;
    box-shadow: 20px 20px 20px rgb(229, 229, 229);
    margin-bottom: 36px;
}

.SousTitle1 {
    font-size: 16px;
    font-weight: 600;
    color: black;
    border-bottom: 1px solid rgb(192, 191, 191);
    padding: 10px;
    padding-left: 173px;
}

.NomPr {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: -87px;
    margin-top: 20px;
}

.NomPr2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: -38px;
    margin-top: 20px;
}

.AdrsVille {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: -130px;
}

.TelCP {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: -108px;
    margin-bottom: 10px
}

.MpPrEmPr {
    padding: 18px;
}

.MpsPr {
    margin-bottom: 10px
}

.NomProf {
    margin-right: -20px;
}

.DateModif {
    padding: 10px;
    margin-left: 63px;
}

.LienProf1,
.LienProf2,
.LienProf3 {
    float: right;
    margin-right: 20px;
}

.Commande {
    border: 1px solid rgb(192, 191, 191);
    border-radius: 10px;
    width: 650px;
    height: 68px;
    box-shadow: 20px 20px 20px rgb(229, 229, 229);
    margin-bottom: 25px;
}

.ProfIdCmd,
.ProfStCmd,
.ProfPrCmd,
.ProfNtCmd {
    border: none;
    background-color: transparent;
    margin-top: 21px;
    font-size: 14px;
    font-weight: 500;
}

.ProfIdCmd {
    font-size: 16px;
    font-weight: 800;
    width: 50px;
    margin-left: 28px;
    margin-right: 20px;
    color: orange;
}

.cmdVide {
    border: 1px solid rgb(192, 191, 191);
    border-radius: 10px;
    width: 650px;
    height: 68px;
    box-shadow: 20px 20px 20px rgb(229, 229, 229);
    color: orange;
    font-size: 23px;
    font-weight: 600;
    /* padding-left: 192px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.InputNmPr,
.InputPrenPr,
.InputEmPr,
.InputMpsPr,
.InputNvMpsPr,
.InputCnNVMpsPr,
.InputTélPr,
.InputVillePr,
.InputCPPr,
.InputAdrsPr {
    border: none;
    background-color: transparent;
    height: 20px;
}

.InputNmPr:focus,
.InputPrenPr:focus,
.InputEmPr:focus,
.InputMpsPr:focus,
.InputNvMpsPr:focus,
.InputCnNVMpsPr:focus,
.InputTélPr:focus,
.InputVillePr:focus,
.InputCPPr:focus,
.InputAdrsPr:focus {
    outline: none;
    border: none;
    background: 0px solid transparent;
}

.legendInput {
    padding-left: 5px;
    padding-right: 5px;
}

.identifiantModif {
    width: 400px;
    margin-left: 43px;
    margin-top: 21px;
}

.DateNsModif {
    padding: 18px;
}

.InputDtMdf {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btnMf {
    float: right;
    margin-top: 30px;
}

.BtnMfValider,
.BtnMfAnnuler {
    height: 30px;
    width: 91px;
    margin-right: 10px;
    background: #015E9b;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}

.BtnMfAnnuler {
    color: #015E9b;
    border: 1px solid #015E9b;
    background-color: transparent;
}

.BtnDéconnexion {
    border: none;
    background-color: #015E9b;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.SPdeconnexion {
    margin-left: 13px;
}

.Commande {
    display: flex;
}

.ProfIdCmd {
    display: flex;
    flex-wrap: nowrap;
}

.InfoCmd {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 70%;
}

.DateModif {
    margin-left: 10px;
}