section#MotorVolet {
    padding: 50px;
}
.VoletT1 {
    font-size: 29px;
    font-weight: 900;
    color: #044570;
    margin-top: 20px;
    margin-left: 4px;
}

.voletPara1 {
    width: 100%;
    line-height: 26px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;
}

.VoletImg1 {
    width: 400px;
    height: 392Px;
    margin-top: 38px;
    margin-left: 33px;
}