/* *========================================================= */

.home header.categorie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 85px;
}

.case_categorie {
    background-color: white;
    display: flex;
    align-items: center;
    border: aliceblue;
    justify-content: center;
    border: none;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08);
    cursor: pointer;
    width: 538px;
    height: 70px;
}

.home main .containner_main_categorie {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.home main .containner_main_categorie .category {
    width: 100%;
    height: 79px;
    background-color: #ffffff;
    display: flex;
    /* border-left: 8px solid blue; */
    cursor: auto;
    box-shadow: rgba(163, 163, 163, 0.39) 0px 2px 5px -1.5px;
    border-radius: 3px;
}

.home main .category .name_category {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 16px;
    margin-left: 16px;
}

.home main .category .name_category .nmr_categorie {
    background-color: #e5f4ff;
    /* padding: 25px; */
    height: 47px;
    width: 47px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #08309e;
    font-size: 19px;
    font-weight: 900;
    margin-right: 5px;
}

.home main .category .name_category input.nom_categorie {
    padding-left: 10px;
    border: 1px solid white;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    width: 76%;
    height: 60%;
}

.home main .category .name_category .icon_valider_modif_categorie {
    font-size: 25px;
    color: #08a775;
    cursor: pointer;
}

.home main .category .name_category .icon_exit_modif_categorie {
    font-size: 25px;
    color: #f83030;
    cursor: pointer;
}

.home main .category .name_category .cacher_icon {
    display: none;
}

.home main .category .name_category button.valider_modif_categorie,
.home main .category .name_category button.exit_modif_categorie {
    border: none;
    background-color: inherit;
}

.home main .category .nbr_produit {
    margin-left: 30px;
    height: 100%;
    width: 36%;
    display: flex;
    align-items: center;
}

.home main .category .nbr_produit p {
    font-size: 13px;
    white-space: nowrap;
    color: #7a7a7a;
}

.home main .category .nbr_produit span {
    font-weight: bold;
    margin-left: 5px;
}

.home main .category .action_category {
    display: flex;
    align-self: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
    width: 14%;
    justify-content: space-around;
}

.home main .category .action_category input {
    color: #ffffff;
    background-color: #5353ff;
    padding: 5px 10px 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 50px;
    z-index: 5;
    cursor: pointer;
}

.home main .category .action_category .border_vertical {
    border-right: 1px solid #d3cdcd;
    height: 100%;
    width: 18px;
}

.home main .category .action_category input.btn_valider_categorie {
    position: absolute;
    right: 57.4%;
    z-index: 0;
}

i.bx.bx-edit.btn_modifier_categorie {
    font-size: 25px;
    color: #0833a7;
}

.ajouter_category {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
}

.ajouter_category button {
    color: #ffffff;
    background-color: #0833a7;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    width: 160px;
    height: 40px;
}