.fiche_client {
    position: fixed;
    width: 60%;
    max-height: 90vh;
    background-color: #ffffff;
    box-shadow: rgba(12, 9, 9, 0.39) 0px 0px 11px 0px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    padding: 20px;
}

.fiche_client .client {
    height: 50px;
    border-bottom: 1px solid;
}

.fiche_client .client h1 {
    font-weight: 900;
    color: #062067;
    font-family: 'Kumbh Sans', sans-serif;
}

.contenue_client {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}

.info {
    width: 32.3%;
    height: 60px;
}

.info h3 {
    color: #062067;
    font-family: 'Kumbh Sans', sans-serif;
}

.info span {
    margin-top: 5px;
    font-weight: 300;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
}

.body_cmd {
    background-color: #00154db7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

body .cacher_cmd {
    display: none;
}

.div_form_modification_cmd {
    position: fixed;
    /* padding: 30px 0 0 0; */
    width: 80%;
    background-color: #ffffff;
    z-index: 100;
    top: 47%;
    left: 58.3%;
    box-shadow: rgba(12, 9, 9, 0.39) 0px 0px 11px 0px;
    transform: translate(-50%, -50%);
}

.icon_x_exit {
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 30px;
    color: red;
}

.div_form_modification_cmd form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0 0;
}

form label {
    font-size: 14px;
}

.case_text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 29%;
    height: 58px;
    position: relative;
    margin-left: 35px;
    margin-top: 20px;
}

.case_text .input_text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.case_text .input_text input {

    background-color: #e6f4ff;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 0 0 8px;
}

.case_cocher {
    margin-left: 35px;
    margin-top: 10px;
}

.case_select {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 29%;
    height: 58px;
    position: relative;
    margin-left: 35px;
    margin-top: 20px;

}

.case_select .input_select {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e6f4ff;
    cursor: pointer;
}

.case_select .input_select select {
    width: 100%;
    height: 100%;
    padding-left: 4px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding-right: 6px;
}

.case_text_area {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 35px;
    width: 96%;
    height: 88px;
    background-color: #ffffff;
    margin-top: 20px;
}

.case_text_area .input_text_area {
    display: flex;
    align-items: center;
    width: 98%;
    height: 100%;
    background-color: #e6f4ff;
}

.case_text_area .input_text_area textarea {
    background-color: inherit;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 0 0 8px;
    height: 100%;
}

form .bas_form {
    width: 100%;
    height: 55px;
    border-top: 1px solid gray;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.submit_form_modification_cmd {
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin-right: 5px;
}

input.btn_modifier_form_modifier_cmd {
    width: 65px;
    font-size: 14px;
    height: 27px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #2cafbe;
    cursor: pointer;
}

input.btn_effacer_form_modifier_cmd {
    width: 60px;
    background: #512cbe;
    font-size: 14px;
    height: 27px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}


/* *========================================================= */

.home header.commande {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.case_commande {
    background-color: white;
    height: 55px;
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: center;
    border: none;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08);
    cursor: pointer;
    
}

.case_commande:hover {
    background-color: #010535;
    color: white;
    transition: all 0.3s;
}

.header_header_commande {
    width: 100%;
    /* background: white; */
    height: 40px;
}

/* .home main .table {
    box-shadow: rgba(163, 163, 163, 0.39) 0px 0px 11px 0px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 100%;
    transition: all 0.8s ease;
} */

/* .home main .table table {
    width: 100%;
    border: 1px solid whitesmoke;
    overflow-y: auto;
    height: auto;
    background-color: #ffffff;
    overflow: hidden;
    transition: all 0.7s ease;
} */

/* .home main .table table thead {
    font-weight: normal;
    color: #2368cf;
    height: 50px;
    font-size: 13px;
} */

/* .home main .table table tbody {
    overflow-y: auto;
    height: auto;
    margin-top: 10px;
} */


/* .home main .table table tr{
	border-left: 4px solid rgb(132, 9, 9);
	cursor: pointer;
} */

/* .home main .table table td {
    height: 50px;
    background-color: inherit;
    text-align: center;
    border-top: 1px solid rgb(240, 240, 240);
    font-size: 14px;
    color: rgb(69, 87, 106);
} */

/* .home main .table table td input {
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    background-color: #0833a7;
    border: none;
    outline: none;
    border-radius: 5px;
} */
.home main .table table td a.nom_client{
    color:rgb(69, 87, 106);;
}
/* .home main .table table td.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
} */




.icon_modifier_commande {
    font-size: 25px;
    color: #0833a7;
}

 /* .entete .produit button {
    background-color: #0833a7;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    width: 134px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */