/* *======================================    menu   ================================================= **/

.home header.produit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
}

.case_produit {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08);
    cursor: pointer;
    padding: 0px 14px;
    height: 70px;
}
.home main .table table td img {
    height: 50px;
    background-color: inherit;
    margin: 0 4px 0 4px;
}

.home main .table table td.action .icon_modifier_produit {
    font-size: 25px;
    color: #0833a7;
}

.body {
    background-color: #00154db7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.div_form_modification_produit {
    position: fixed;
    padding: 30px 0 0 0;
    width: 80%;
    background-color: #ffffff;
    z-index: 100;
    top: 50%;
    left: 58.3%;
    box-shadow: rgba(12, 9, 9, 0.39) 0px 0px 11px 0px;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.div_form_modification_produit form {
    display: flex;
    flex-wrap: wrap;
}

.div_form_modification_produit form .form_left {
    width: 70%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

.div_form_modification_produit form .form_left .case,
.div_form_modification_produit form .form_left .case_text_area {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 25px;
    width: 45%;
    height: 66px;
    position: relative;
    margin-top: 10px;
}

.div_form_modification_produit form label {
    font-size: 14px;
}

.div_form_modification_produit form .form_left .case .input_text,
.div_form_modification_produit form .form_left .case_prix_qauntite .input_text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e6f4ff;
}

.div_form_modification_produit form .form_left .case .input_text input,
.div_form_modification_produit form .form_left .case_prix_qauntite .input_text input,
.div_form_modification_produit form .form_left .case_text_area .input_text_area textarea {
    background-color: #e6f4ff;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 0 0 8px;
}

.div_form_modification_produit form .form_left .case_prix_qauntite {
    margin-left: 24px;
    width: 20.8%;
    height: 65px;
    background-color: #ffffff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.div_form_modification_produit form .form_left .case_text_area {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 25px;
    width: 94%;
    height: 58px;
    background-color: #ffffff;
    margin-top: 10px;
}

.div_form_modification_produit form .form_left .case_text_area .input_text_area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e6f4ff;
}

.div_form_modification_produit form .form_left .case .input_select {
    display: flex;
    padding-right: 6px;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e6f4ff;
    cursor: pointer;
}

.div_form_modification_produit form .form_left .case .input_select select {
    width: 100%;
    height: 100%;
    padding-left: 4px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.div_form_modification_produit form .form_left .case .input_select .icon_select {
    position: absolute;
    right: 1px;
    z-index: 0;
}

.div_form_modification_produit form .form_left .case .input_select .bxs-down-arrow {
    color: #515151;
    font-size: 14px;
    padding: 0 2px 0 2px;
    margin-right: 10px;
}

.div_form_modification_produit form .form_right {
    width: 30%;
    height: 258px;
    display: flex;
    flex-direction: column;
}

.div_form_modification_produit form .form_right .case_image {
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: #ffffff;
}

.div_form_modification_produit form .form_right .case_image .zone_image {
    width: 94%;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 10px solid #e6f4ff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.div_form_modification_produit form .form_right .case_image .zone_image img#image_telecharger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.div_form_modification_produit form .form_right .case_image .zone_image h3 {
    color: #515151;
    margin-bottom: 25px;
}

.div_form_modification_produit form .form_right .case_image .zone_image .bxs-cloud-upload {
    font-size: 105px;
    color: #515151;
}

.div_form_modification_produit form .form_right .case_image .zone_image .input_image {
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 204px;
    cursor: pointer;
    opacity: 0;
}

.div_form_modification_produit form .form_bas {
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid rgb(211, 211, 211);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.div_form_modification_produit form .form_bas .retour_form_modifier_produit {
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_form_modification_produit form .form_bas .retour_form_modifier_produit input.btn_retour_form_modifier_produit {
    font-size: 14px;
    width: 60px;
    cursor: pointer;
    height: 27px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #ef2a41;
}

.div_form_modification_produit form .form_bas .submit_form {
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin-right: 5px;
}

.div_form_modification_produit form .form_bas .submit_form input.btn_modifier_form_modifier_produit {
    width: 65px;
    font-size: 14px;
    height: 27px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #2cafbe;
    cursor: pointer;
}

.div_form_modification_produit form .form_bas .submit_form input.btn_effacer_form_modifier_produit {
    width: 60px;
    background: #512cbe;
    font-size: 14px;
    height: 27px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}


