@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');

/* *======================================  home  ======================================================= */

.body_display_modif_rdv {
    background-color: #051540db;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.cacher_body_display_modif_rdv {
    display: none;
}

.div_modif_rdv {
    position: relative;
    width: 50%;
    max-height: 90vh;
    background-color: #ffffff;
    box-shadow: rgba(12, 9, 9, 0.39) 0px 0px 11px 0px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.div_modif_rdv .haut {
    height: 20px;
    width: 100%;
}

.icon_x_exit_rdv {
    position: absolute;
    top: -2px;
    right: 0px;
    font-size: 30px;
    color: red;
    cursor: pointer;
}

.div_modif_rdv form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.div_modif_rdv form .case {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 25px;
    width: 44%;
    height: 66px;
    position: relative;
    margin-top: 10px;
}

.div_modif_rdv form .case_nmr {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 25px;
    width: 15%;
    height: 66px;
    position: relative;
    margin-top: 10px;
}

.div_modif_rdv form .case_date {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 25px;
    width: 25%;
    height: 66px;
    position: relative;
    margin-top: 10px;
}

.div_modif_rdv form .case_adress {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 25px;
    width: 91.8%;
    height: 66px;
    position: relative;
    margin-top: 10px;
}

.div_modif_rdv form .case label,
.div_modif_rdv form .case_nmr label,
.div_modif_rdv form .case_date label,
.div_modif_rdv form .case_adress label {
    font-size: 14px;
}

.div_modif_rdv form .case .input_text,
.div_modif_rdv form .case_nmr .input_text,
.div_modif_rdv form .case_date .input_text,
.div_modif_rdv form .case_adress .input_text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e6f4ff;
}

.div_modif_rdv form .case .input_text input,
.div_modif_rdv form .case_date .input_text input,
.div_modif_rdv form .case_adress .input_text input {
    background-color: #e6f4ff;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 0 0 8px;
}

.div_modif_rdv form .case_nmr .input_text input {
    background-color: #e6f4ff;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 0 0 8px;
    text-align: center;
}

.div_modif_rdv form .case .input_select {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e6f4ff;
    cursor: pointer;
    padding-right: 6px;
}

.div_modif_rdv form .case .input_select select {
    width: 100%;
    height: 100%;
    padding-left: 4px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.div_modif_rdv form .form_bas {
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid rgb(211, 211, 211);
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.div_modif_rdv form .form_bas .submit_form {
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin-right: 5px;
}

.div_modif_rdv form .form_bas .submit_form input.btn_modifier_form_modifier_rdv {
    width: 65px;
    font-size: 14px;
    height: 27px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #2cafbe;
    cursor: pointer;
    margin-right: 9px;
}

.div_modif_rdv form .form_bas .submit_form input.btn_effacer_form_modifier_rdv {
    width: 60px;
    background: #512cbe;
    font-size: 14px;
    height: 27px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.home header.rdv {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.case_rdv {
    background-color: white;
    height: 55px;
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: center;
    border: none;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08);
    cursor: pointer;
    margin-right: 17px;
}

.case_rdv:hover {
    background-color: #010535;
    color: white;
    transition: all 0.3s;
}

.header_header_rdv {
    width: 100%;
    height: 40px;
}


/* .home main {
    grid-area: main;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
} */

/* .home main .table {
    box-shadow: rgba(163, 163, 163, 0.39) 0px 0px 11px 0px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 100%;
    transition: all 0.8s ease;
    position: relative;
} */

/* .home main .table table {
    width: 100%;
    border: 1px solid whitesmoke;
    overflow-y: auto;
    height: auto;
    background-color: #ffffff;
    transition: all 0.7s ease;
}

.home main .table table thead {
    font-weight: normal;
    color: #2368cf;
    height: 50px;
    font-size: 13px;
}

.home main .table table tbody {
    overflow-y: auto;
    height: auto;
    margin-top: 10px;
}



.home main .table table td {
    height: 50px;
    background-color: inherit;
    text-align: center;
    border-top: 1px solid rgb(240, 240, 240);
    font-size: 14px;
    color: rgb(69, 87, 106);
}

.home main .table table td img {
    height: 50px;
    background-color: inherit;
    margin: 0 4px 0 4px;
} */

/* .home main .table table td.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
} */

.home main .table table td.action .btn_modifier_rdv {
    font-size: 25px;
    color: #0833a7;
}


/* 
.home main .table table td input{
	background-color: inherit;
	font-size: 13px;
	color: #365380;
	font-weight: 400;
	width: 100%;
	height: 100%;
	text-align: center;
	outline: none;
	border: none;
	word-wrap: break-word;
	white-space: pre-wrap;
} */
/* 
.home main .table .entete {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: auto;
}

.home main .table .entete .element {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home main .table .entete .element .chercher {
    width: 90%;
    height: 75%;
    background-color: #d4e1ff;
    padding-left: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
}

.home main .table .entete .element .chercher form {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.home main .table .entete .element .chercher button {
    width: 10%;
    background: inherit;
    border: none;
    outline: none;
    color: rgb(47, 141, 199);
    font-size: 17px;
}

.home main .table .entete .element .chercher input {
    background: inherit;
    border: none;
    width: 80%;
    height: 100%;
}

.home main .table .entete .element .chercher input:focus {
    outline: none;
    border: none;
}

.home main .table .entete .element .trie,
.home main .table .entete .element .statut {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home main .table .entete .element .trie .input_trie,
.home main .table .entete .element .statut .input_statut {
    display: flex;
    border: 1px solid rgb(220, 220, 220);
    width: 90%;
    height: 70%;
    padding: 0 0 0 9px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.home main .table .entete .element .trie .cacher,
.home main .table .entete .element .statut .cacher {
    display: none;
}

.home main .table .entete .element .trie .input_trie span.icon_select_trie,
.home main .table .entete .element .statut .input_statut span.icon_select_statut {
    height: 100%;
    border-left: 1px solid rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
}

.home main .table .entete .element .statut .input_statut p {
    padding-bottom: 2.5px;
}

.home main .table .entete .element .trie .input_trie p {
    padding-bottom: 2.5px;
}

.home main .table .entete .element .trie .input_trie span.trie_par,
.home main .table .entete .element .statut .input_statut span.statut_par {
    font-size: 13px;
    font-weight: 600;
    color: #919ba8;
}

.home main .table .entete .element .trie .input_trie span.name_trie,
.home main .table .entete .element .statut .input_statut span.name_statut {
    font-weight: bold;
    color: #43465e;
    font-size: 14px;
}

.home main .table .entete .element .trie .display_trie,
.home main .table .entete .element .statut .display_statut {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 82%;
    top: 43px;
    box-shadow: rgba(163, 163, 163, 0.39) 0px 3px 11px 0px;
    padding: 10px 0 10px 0;
}

.home main .table .entete .element .trie .display_trie ul,
.home main .table .entete .element .statut .display_statut ul {
    margin: 0 5px 0 5px;
}

.home main .table .entete .element .trie .display_trie ul li,
.home main .table .entete .element .statut .display_statut ul li {
    list-style: none;
    margin-top: 5px;
    padding-left: 10px;
    height: 25px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 3px;
}

.home main .table .entete .element .trie .display_trie ul li::before,
.home main .table .entete .element .statut .display_statut ul li::before {
    content: "•";
    padding-right: 10px;
    color: rgb(100, 101, 206);
}

.home main .table .entete .element .trie .display_trie ul li:hover,
.home main .table .entete .element .statut .display_statut ul li:hover {
    background-color: #eaf0ff;
}

.home main .table .entete .element .trie .display_trie ul li a,
.home main .table .entete .element .statut .display_statut ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #404586;
}

.home main .table .entete .element .trie .display_trie ul li:hover a,
.home main .table .entete .element .statut .display_statut ul li:hover a {
    text-decoration: none;
    color: #202cd1;
}

.home main .table .entete .produit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bxs-chevron-down {
    color: #2368cf;
}

.home main .table .entete .produit button {
    background-color: #0833a7;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    width: 115px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 */

/* 
.case {
    background-color: white;
    height: 55px;
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: center;
    border: none;
   
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08);
    cursor: pointer;
    border-left: 5px solid #2368cf;
    margin-right: 17px;
}

.case:hover {
    background-color: #010535;
    color: white;
    transition: all 0.3s;
}

.header_header {
    width: 100%;
    
    height: 40px;
} */